<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <img src="/img/logo.png" alt="logo" style: width="300px"; height="300px">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p> <!-- About me section-->
      I'm Hardiksinh Zala, a data-driven professional with a strong background in finance and marketing.
      With experience as a Google Account Strategist at Teleperformance,
      I've skillfully managed a portfolio of accounts worth $3.4 million in quarterly spend.
      My expertise lies in optimizing ad campaigns and improving KPIs using data-driven strategies, A/B testing, and advanced tools like Excel, Tableau, and Python.
      As a former Marketing Research Analyst at Vetterview Inc., I honed my ability to uncover market trends and provide actionable recommendations.
      Armed with a Bachelor of Commerce degree and certifications in data analytics, including IBM Data Analyst and SQL Essentials, I'm poised to deliver exceptional results.
      My skills in Google Analytics, SQL, Python, Tableau, and IBM Cognos empower me to provide insightful reporting and visualization.
      I'm passionate about leveraging my skills to drive success and growth in the digital marketing and analytics landscape.
    </p>
    <a href="/Assets/Hardik.Zala.Resume.pdf" target="_blank">Download Resume (PDF)</a>

  </div>
</main>

<!--bottom nav-->

<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
