<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>

    <!-- Service 1 -->
    <section>
      <h2>Service 1: Data Analysis</h2>
      <p>
        I offer data analysis services, including data cleaning, exploratory data analysis, and predictive modeling. Whether you need insights from your business data or want to build predictive models, I can help you make data-driven decisions.
      </p>
      <img src="/img/DataAnalytics.png" alt="DataAnalytics" style="width: 800px; height: 300px">

    </section>

    <!-- Service 2 -->
    <section>
      <h2>Service 2: Web Development</h2>
      <p>
        I specialize in web development, creating responsive and user-friendly websites tailored to your needs. Whether you need a personal portfolio, e-commerce site, or web application, I can bring your ideas to life on the web.
      </p>
      <img src="/img/WebDevelopment.png" alt="WebDevelopment" style="width: 800px; height: 300px">

    </section>

    <!-- Service 3 -->
    <section>
      <h2>Service 3: Financial Consulting</h2>
      <p>
        I provide financial consulting services, including portfolio optimization, risk assessment, and investment strategy development. Whether you're an individual investor or a business, I can help you manage your finances and make informed investment decisions.
      </p>
      <img src="/img/FinancialConsulting.png" alt="FinancialConsulting" style="width: 800px; height: 300px">

    </section>
  </div>
</main>

<!--bottom nav-->

<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>